.main {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffe6ff;
}

.title {
  font-size: 5rem;
}

.aboutBody {
  display: flex;
  font-size: 1rem;
  height: 100%;
}

.pic {
  border-radius: 100rem;
  border: 3px solid #ff2483;
}