.main {
  text-align: center;
  color: #ffe6ff;
}

.aboutBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.pic {
  border-radius: 100rem;
  border: 3px solid #ff2483;
}