.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffe6ff;
}

.title {
  font-size: 5rem;
}

.aboutBody {
  background-color: black;
  margin: 5rem;
  margin-top: 0;
  box-shadow: 0rem 0.25rem 1.5rem #ff65bd;
  border: 0.25rem #ff65bd solid;
}

.picContainer {
  margin: 1rem;
  font-size: 1.5rem;
}

.pic {
  border-radius: 100rem;
  border: 3px solid #ff65bd;
  width: 30%;
  height: 30%;
}

.textContainer {
  margin: 1rem;
  margin-top: 0;
}

.text {
  font-size: 1.5rem;
}

.technologies {
  font-size: 1.25rem;
}