.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #ffe6ff;
  font-size: 2.25rem;
}

.container {
  border: 0.25rem #ff65bd solid;
  margin: 5rem;
  margin-top: 0;
  padding: 0;
  background-color: black;
  box-shadow: 0rem 0.25rem 1.5rem #ff65bd;
  font-size: 1rem;
}

.downloadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.a {
  margin-top: 0.5rem;
  border-radius: 50%;
}

.a:hover {
  background-color: rgba( 255, 101, 189, 0.2 );
  box-shadow: 0 0.25rem 5rem #ff65bd;
}

img {
  padding: 0.25rem;
}