.dropdownBtn {
  float: right;
  background-color: black;
}

.dropdownImg {
  height: 2rem;
  width: 2rem;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 0.25rem #ff65bd solid;
}

.link {

}

@media (min-width: 450px) {
  .dropdownBtn {
    visibility: hidden;
  }
}