#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  border: 0.25rem #ff65bd solid;
  border-top: none;
  height: 4rem;
  box-shadow: 0.5rem 0.75rem 1rem #ff65bd;
}

#home {
  display: block;
  margin: 1rem;
  float: left;
  color: #ffe6ff;
  text-decoration: none;
  font-size: 1.25rem;
  text-shadow: 0.5rem 0.5rem 0.75rem #ff65bd;
}

li {
  display: inline;
  margin: 10px;
  text-align: center;
}

.nav-link {
  display: block;
  margin: 1rem;
  float: right;
  color: #ffe6ff;
  text-decoration: none;
  font-size: 1.25rem;
  text-shadow: 0.5rem 0.5rem 0.75rem #ff65bd;
}