.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffe6ff;
}

.title {
  font-size: 5rem;
}

.aboutBody {
  border: 0.25rem #ff65bd solid;
  margin: 4rem;
  margin-top: 0;
  padding: 0;
  background-color: black;
  box-shadow: 0rem 0.25rem 1.5rem #ff65bd;
  font-size: 1rem;
  color: #ffe6ff;
  padding: 1rem;
}

.a {
  color: #ffe6ff;
}

.img {
  border: 3px solid #ff65bd;
  border-radius: 1rem;
}

.icon {
  height: 6rem;
}

@media (max-width: 450px) {
  .title {
    font-size: 3rem;
  }
  .aboutBody {
    margin: 1rem;
  }
  .img {
    height: 90%;
    width: 90%;
  }
}