.main {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffe6ff;
  padding: 2rem;
}

.img {
  height: 6rem;
  width: 10rem;
  border-radius: 100rem;
  border: 3px solid #ff65bd;
}

.btn {
  width: 7rem;
  height: 2rem;
  border: 0.1rem #ff65bd solid;
  background-color: black;
  color: #ffe6ff;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.btn:hover {
  box-shadow: 0rem 0.25rem 1.5rem #ff65bd;
}